.about-section {

 @include media-md {
  display: flex;
  align-items: center;
  justify-content: center;
 }

 &__left {
  height: 266px;
  img {
   width: 100%; 
   @include media-lg {
    width: auto;
   }
   height: 100%;
  }
 }

 &__right {
  height: 266px;

  img {
   width: 100%; 
   @include media-lg {
    width: auto;
   }
   height: 266px;
  } 
 }

 &__middle {
  height: 266px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem 1.6rem;

  @include media-sm {
   height: 350px;
   padding: 2rem 1rem;
  }

  @include media-md {
   width: 50%;
   padding: 1.8rem 2rem;
  }

  @include media-lg {
   padding: 2.5rem 3rem;
  }
  h2 {
   color: $Black;
   font-size: .85rem;
   text-transform: uppercase;
   font-weight: 600;
   letter-spacing: 3px;

   @include media-sm {
    font-size: .65rem;
   }
  }
  p {
   color: $Dark-Gray;
   font-size: 12px;
   line-height: 1.3rem;
  }
 }
}