@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

$Dark-Gray: hsl(0, 0%, 63%);
$Black: hsl(0, 0%, 0%);
$White: hsl(0, 0%, 100%);
$Very-Dark-Gray: hsl(0, 0%, 27%);

@mixin media-lg {
 @media only screen and (min-width:1280px) {
  @content;
 }
}